
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>VK Free</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" media="all" href="/static/style.css" data-turbolinks-track="true" />
    <link rel="shortcut icon" href="/static/favicon.ico"/>
</head>
<body class="is-responsive">



  <div class="footer-push">
    <nav class="top-bar" aria-label="Primary">
  <div class="wrapper no-pad">

  </div>
</nav>


    <div id="js-pjax-container">

<div class="welcome" style="text-align: center; padding-top: 100px;">

    <div style="">
      <a href="/login/vk-oauth2" class="welcome-button" style="padding: 1em 4em;">Войти</a>
    </div>

    <div class="hero-features">
      <h1 class="hero-tagline">Нужно <span class="hero-tagline-highlight"> войти через VK</span> чтобы воспользоваться сайтом</h1>
    </div>

  <section class="section section--hero" style="background-image: none;">
  <div class="wrapper" style="padding-top: 150px;">

      <div class="hero-header-item hero-logo" aria-hidden="true" style="height: 300px;"></div>
    </div>
    </section>


  <section id="teletype" class="section section--realtime" style="background-image: url(/static/bg_token.svg); overflow: hidden;">
    <div class="wrapper" style="padding-top: none; padding-bottom: 150px; "></div>
  </section>

  </div>

</div>

  </div>

  <footer>
  <div class="footer">
    <div class="wrapper no-pad">
      <ul class="footer-left">
         <li><a href="https://vk.com/id10607730" target="_blank">Контакты</a></li>
      </ul>

      <div class="footer-right">
        <a>with <span class="octicon octicon-heart"></span> by <span style="font-weight: 900;"> R</span></a>
      </div>
    </div>
  </div>
</footer>

</body>
</html>
